<section class="page">
  <form class="formulario">
    <div class="combo-group">
      <!-- COMBO 1 -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Modo</mat-label>
        <input 
          type="text" 
          placeholder="Modos. . . " 
          aria-label="Modos" 
          matInput
          [matAutocomplete]="modo"
          [formControl]="form.obterControle('modo')">
        <mat-autocomplete [displayWith]="displayFn" #modo="matAutocomplete">
          <mat-option *ngFor="let item of modosEnum" [value]="item">{{item.nome}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      <!-- COMBO 2 -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Potência</mat-label>
        <input 
          type="text" 
          aria-label="Potência" 
          matInput
          [matAutocomplete]="auto"
          [formControl]="form.obterControle('potencia')"
          >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <app-timer-container />
  </form>
  <div class="mensagem">
    <h2>{{form.obterControle('mensagem').value}}</h2>
  </div>
</section>